<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>
  <param name="use_sim_time" value="true" />
  <arg name="use_sim_time" default="true" />
  <arg name="prefix"/>
  <arg name="log_path" default="~/"/>
  <arg name="output" default="screen"/>
  <arg name="frontier_selection" default="1"/>

  <group ns="$(arg prefix)">
    <param name="use_sim_time"    value="true" />
    <param name="laser_frame"     value="$(arg prefix)/base_laser_link" />
    <param name="robot_frame"     value="$(arg prefix)/base_link" />
    <param name="odometry_frame"  value="$(arg prefix)/odom" />
    <param name="offset_frame"    value="$(arg prefix)/offset" />
    <param name="map_frame"       value="$(arg prefix)/map" />
    <param name="map_topic"       value="$(arg prefix)/map" />
    <param name="laser_topic"     value="/$(arg prefix)/base_scan" />
    <param name="map_service"     value="$(arg prefix)/static_map" />

    <!-- Navigation stack -->
    <arg name="odom_frame_id"   default="/$(arg prefix)/odom"/>
    <arg name="base_frame_id"   default="/$(arg prefix)/base_link"/>
    <arg name="global_frame_id" default="/$(arg prefix)/map"/>
    <arg name="odom_topic"      default="/$(arg prefix)/odom" />
    <arg name="laser_topic"     default="/$(arg prefix)/base_scan" />

    <!-- move base-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   
      <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />   
      <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot_navigation)/param/dwa_local_planner_params.yaml" command="load" />
      <rosparam file="$(find turtlebot_navigation)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find turtlebot_navigation)/param/global_planner_params.yaml" command="load" />
      <rosparam file="$(find turtlebot_navigation)/param/navfn_global_planner_params.yaml" command="load" />

      <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
      <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
      <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
      <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
      <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

      <remap from="odom" to="$(arg odom_topic)"/>
      <remap from="scan" to="$(arg laser_topic)"/>
    </node>


    <!-- karto mapping
    <node name="Mapper" pkg="nav2d_karto" type="mapper" output="screen">
      <rosparam file="$(find nav2d_tutorials)/param/mapper.yaml" />
      <remap from="$(arg prefix)/map" to="map" />
    </node>
    -->

    <!-- gmapping node instead
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <param name="base_frame" value="$(arg prefix)/base_link"/>
      <param name="odom_frame" value="$(arg prefix)/odom"/>
      <param name="map_frame"  value="$(arg prefix)/map" />
      <param name="map_update_interval" value="5.0"/>
      <param name="maxUrange" value="6.0"/>
      <param name="maxRange" value="8.0"/>
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="minimumScore" value="200"/>
      <param name="srr" value="0.01"/>
      <param name="srt" value="0.02"/>
      <param name="str" value="0.01"/>
      <param name="stt" value="0.02"/>
      <param name="linearUpdate" value="0.5"/>
      <param name="angularUpdate" value="0.436"/>
      <param name="temporalUpdate" value="-1.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="80"/>
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>

    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="base_scan"/>
    <remap from="/map" to="$(arg prefix)/map"/>
  </node>
  -->

  <!-- map merging  --> 
  <node pkg="map_merger" type="map_merger" name="map_merger" output="screen">
    <param name="log_path" value="map_merger_log" />
    <param name="robot_name" value="$(arg prefix)" />
    <param name="robot_prefix" value="/$(arg prefix)" />
    <param name="local_map_frame_id" value="$(arg prefix)/map"/>
    <param name="exchange_position" value="true" />
    <param name="has_local_map" value="true" />
    <param name="position_local_robot_topic" value="odom" />
    <param name="seconds_send_timer" value="8" />
    <param name="seconds_pub_timer" value="6" />
    <param name="seconds_recompute_transform" value="10" />
    <param name="max_rotation_robots" value="-1" />
    <param name="seconds_send_position" value="1" />
    <param name="position_other_robots_topic" value="position_other_robots"/>       
    <param name="split_size" value="2048" />
    <param name="splitted" value="false" />
    <param name="local_map_topic" value="/$(arg prefix)/map" />
    <param name="meta_topic_over_network" value="map_meta" />
    <param name="local_map_metadata_topic" value="/map_metadata" />
  </node>

  <!-- explorer --> 
  <node if="$(arg use_sim_time)" pkg="explorer" type="explorer" name="explorer" output="$(arg output)">
    <param name="local_costmap/robot_base_frame" value="$(arg prefix)/base_footprint" />
    <param name="local_costmap/global_frame" value="$(arg prefix)/odom" />
    <param name="robot_prefix" value="$(arg prefix)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg prefix)/base_footprint"/>
    <param name="global_costmap/global_frame" value="$(arg prefix)/map" />
    <param name="local_costmap/map_topic" value="map_merger/global_map" />
    <param name="local_costmap/observation_sources" value="scan" />
    <param name="local_costmap/scan/topic" value="base_scan" />
    <param name="local_costmap/scan/data_type" value="LaserScan" />
    <param name="local_costmap/scan/marking" value="true" />
    <param name="local_costmap/scan/clearing" value="true" />
    <param name="observation_persistence" value="0.1" />
    <param name="local_costmap/base_scan/marking" value="true" />

    <!-- simulation parameters -->
    <param name="log_path" value="$(arg log_path)" />
    <param name="robot_name" value="$(arg prefix)" />

    <!-- move_base -->
    <param name="base_link" value="$(arg prefix)/base_link" />
    <param name="move_base_frame" value="$(arg prefix)/map" />

    <!-- exploration parameters -->
    <param name="frontier_selection" value="$(arg frontier_selection)" />
    <rosparam file="$(find explorer)/param/simulation_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explorer)/param/simulation_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find explorer)/param/simulation_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/simulation_global_costmap_params.yaml" command="load" />

    <remap from="/$(arg prefix)/$(arg prefix)/map" to="/$(arg prefix)/map" />
  </node>



  <node 
    if   = "$(arg use_sim_time)"
    name = "ground_truth_publisher"  
    pkg  = "mappingturtles" 
    type = "ground_truth_publisher" 
    args = "$(arg prefix)"
    />

</group>

</launch>
