<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Used for visualising the turtlebot while building a map or navigating with the ros navistack.
 -->
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mappingturtles)/rviz/ase_exploration.rviz"/>
  <node pkg="actionlib" name="axclient" type="axclient.py" output="screen" args="/exploration"/>
</launch>
