<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<!-- Real Turtlebot -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <arg name="3d_sensor" value="astra" />
  </include>


	<!-- Start Mapper to generate map from laser scans -->
	<node name="Mapper" pkg="nav2d_karto" type="mapper">
		<remap from="scan" to="base_scan"/>
		<rosparam file="$(find nav2d_tutorials)/param/mapper.yaml"/>
	</node>
</launch>
