<?xml version="1.0"?>
<launch>
  <!-- Some general parameters -->
  <param name="use_sim_time" value="true" />

  <!-- Start Stage simulator with a given environment -->
  <node name="Stage" pkg="stage_ros" type="stageros" args="$(find mappingturtles)/world/tutorial4.world">
    <param name="base_watchdog_timeout" value="0.2" />
  </node>

  <node name="R0_MapAlign" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /robot_0/map 100"/>
  <node name="R1_MapAlign" pkg="tf" type="static_transform_publisher" args="40 0 0 0 0 0 /map /robot_1/map 100"/>

  <!-- robots loading-->
  <group ns="robot_0">
    <param name="robot_id" value="1" />
    <param name="tf_prefix" type="string" value="robot_0"/>
    <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

    <include file="$(find mappingturtles)/launch/karto_bot.launch">
      <arg name="prefix" value="robot_0" />
    </include>
  </group>

  <group ns="robot_1">
    <param name="robot_id" value="2" />
    <param name="tf_prefix" type="string" value="robot_1"/>
    <rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

    <include file="$(find mappingturtles)/launch/karto_bot.launch">
      <arg name="prefix" value="robot_1" />
    </include>
  </group>

  <!-- RVIZ to view the visualization -->
  <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find mappingturtles)/rviz/multi_turtle.rviz" />
</launch>
