<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>
  <arg name="prefix"/>
  <node pkg="rosbag" type="record" name="$(arg prefix)_record"
    args="/$(arg prefix)/map /$(arg prefix)/odom /$(arg prefix)/map_merger/global_map /$(arg prefix)/goalPoint /$(arg prefix)/move_base/NavfnROS/plan
    " />
</launch>
