<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="record" default="false" />
  <arg name="visualize" default="false" />
  <arg name="world" default="five-world"/>

  <include file="$(find mappingturtles)/launch/adhoc_simulator.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="visualize" value="$(arg visualize)" />
    <arg name="robot_0" value="true"/>
    <arg name="robot_1" value="true"/>
  </include>

  <include file="$(find mappingturtles)/launch/adhocbot.launch">
    <arg name="prefix" value="robot_0" />
    <arg name="use_sim_time" value="true" />
  </include>

  <include file="$(find mappingturtles)/launch/adhocbot.launch">
    <arg name="prefix" value="robot_1" />
    <arg name="use_sim_time" value="true" />
  </include>

  <!-- visualizes the simulation -->
  <include 
    if="$(arg visualize)"
    file="$(find mappingturtles)/launch/visualization.launch"/>

  <!-- records the simulation -->
  <include 
    if="$(arg record)"
    file="$(find mappingturtles)/launch/record_sim.launch">
    <arg name="prefix" value="robot_0"/>
  </include>


</launch>
